

.logo_jc,
.menu_btn,
.title_jc,
.btn-proyectos,
.btn-whatsapp{
    color: #FFE3D9;
}


.title_jc{
    margin-bottom: 9rem;
}

.logo_jc {
  /* Si tienes estilos específicos para logo_jc en styles.css, considera integrarlos con Tailwind */
  /* Por ejemplo, si 'text-primary' es tu color de marca para el logo */
  color: #D4AF37; /* Ejemplo de color dorado como 'primary', ajústalo */
}
.menu_btn {
  /* Si tienes estilos específicos para menu_btn en styles.css */
  /* La clase 'text-primary' del HTML ya debería aplicar el color */
   color: #D4AF37; /* Ejemplo de color dorado como 'primary', ajústalo */
}




.line_header,
.quienes_somos{
    background-color: #efd8ce36;
}

.background_video {
    background-color: black;
}

.background_video video{
    opacity: 0.7;
    
    
}


@keyframes marquee-scroll {
    0% { 
      transform: translateX(0%); 
    }
    100% { 
      transform: translateX(-50%); /* Mueve el contenido por el ancho del grupo original */
    }
  }
  
  .marquee-content {
    animation: marquee-scroll 15s linear infinite; /* Ajusta '25s' para cambiar la velocidad */
  }


.servicios_jc{
    background-color: #D7CCC8;
}


.piscina_jc{
    background-color: #D7CCC8;
}




.line_proyectos{
    background-color: #e7bdae;
}





@keyframes blink-animation {
  0%, 100% { /* Estado completamente visible */
    opacity: 1;
  }
  50% { /* A la mitad de la animación, se vuelve más transparente */
    opacity: 0.3; /* Puedes ajustar este valor para que parpadee más o menos intenso */
  }
}

.animate-blink {
  animation: blink-animation 1.8s infinite ease-in-out;
  /* 1.8s: Duración de un ciclo completo de parpadeo. Ajústalo para cambiar la velocidad.
            Un número más pequeño = parpadeo más rápido.
     infinite: Para que la animación se repita sin parar.
     ease-in-out: Suaviza el cambio de opacidad.
  */
}





.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }







.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px); /* Mismo valor que translate-y-5 de Tailwind */
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.animate-on-scroll.is-visible {
  opacity: 1;
  transform: translateY(0);
}