.logo_jc,
.menu_btn,
.title_jc,
.btn-proyectos,
.btn-whatsapp{
    color: #FFE3D9;
}


.title_jc{
    margin-bottom: 9rem;
}

.line_header{
    background-color: #FFE3D9;
}

.background_video {
    background-color: black;
}

.background_video video{
    opacity: 0.7;
    
    
}


@keyframes marquee-scroll {
    0% { 
      transform: translateX(0%); 
    }
    100% { 
      transform: translateX(-50%); /* Mueve el contenido por el ancho del grupo original */
    }
  }
  
  .marquee-content {
    animation: marquee-scroll 15s linear infinite; /* Ajusta '25s' para cambiar la velocidad */
  }


.servicios_jc{
    background-color: #D7CCC8;
}
