@import "tailwindcss";

@tailwind utilities;


/* input.css */


@theme {
  --font-family-sans: "Open Sans", sans-serif;
  --font-family-serif: "Roboto Slab", serif;
  --font-family-almarai: "Almarai", sans-serif;
  --font-family-roboto-slab: "Roboto Slab", serif;
}